appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
certifi==2017.7.27.1
click==6.7
coinbase==2.0.6
contextlib2==0.5.5
elasticsearch==5.4.0
elasticsearch-curator==5.1.2
packaging==16.8
-e git+https://github.com/s4w3d0ff/python-poloniex.git@1e0cdcb757dee83cd28f85461e329d866a93a4a5#egg=poloniex
pycrypto==2.6.1
pydash==4.1.0
pyparsing==2.2.0
-e git+https://github.com/ericsomdahl/python-bittrex@a0ca464a42eb6b5533dae036a6f4eee3b2a313e8#egg=python_bittrex
PyYAML==3.12
raven==6.1.0
redis==2.10.5
requests==2.13.0
six==1.10.0
slackclient==1.0.5
urllib3==1.22
voluptuous==0.10.5
websocket-client==0.40.0
