appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
coinbase==2.0.6
elasticsearch==5.2.0
packaging==16.8
pycrypto==2.6.1
pyparsing==2.2.0
redis==2.10.5
requests==2.13.0
six==1.10.0
slackclient==1.0.5
urllib3==1.20
websocket-client==0.40.0
