import os
import logging

# Logging
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)-15s %(message)s')

# CoinBase
API_KEY = 'dummy_key'
API_SECRET = 'dummy_secret'

#Slack Webhook
SLACK_WEB_HOOK = 'dummy_url'