import logging

# Logging
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)-15s %(message)s')

# CoinBase
API_KEY = 'dummy'
API_SECRET = 'dummy'

# Slack Webhook
SLACK_WEB_HOOK = 'dummy'

# ElasticSearch
ELASTIC_SEARCH_HOST = 'dummy'

# Redis
REDIS_HOST = 'dummy'
REDIS_PORT = 'dummy'
REDIS_PASSWORD = 'dummy'
