ENV: "development"
DB_CONNECTION_STRING: "host=localhost port=5432 user=seannguyen password=password12 dbname=coin-tracker sslmode=disable"

REDIS_ADDRESS: "localhost:6379"
REDIS_PASSWORD: ""
REDIS_DB: "0"

BUGSNAG_API_KEY: ""

BITTREX_API_KEY: ""
BITTREX_API_SECRET: ""

QUOINEX_API_ID: ""
QUOINEX_API_SECRET: ""

COINBASE_API_KEY: ""
COINBASE_API_SECRET: ""

BITFINEX_API_KEY: ""
BITFINEX_API_SECRET: ""
