ENV: "development"
DB_CONNECTION_STRING: "host=localhost port=5432 user=postgres password=password12 dbname=coin-tracker sslmode=disable"

BUGSNAG_API_KEY: ""

BITTREX_API_KEY: ""
BITTREX_API_SECRET: ""

LIQUID_API_ID: ""
LIQUID_API_SECRET: ""

COINBASE_API_KEY: ""
COINBASE_API_SECRET: ""

BITFINEX_API_KEY: ""
BITFINEX_API_SECRET: ""

COIN_MARKET_CAP_API_KEY: ""
