ENV: "development"
DB_CONNECTION_STRING: "host=localhost port=5432 user=seannguyen password=password12 dbname=coin-tracker sslmode=disable"

BITTREX_API_KEY: "123"
BITTREX_API_SECRET: "123"

REDIS_ADDRESS: "localhost:6379"
REDIS_PASSWORD: ""
REDIS_DB: "0"
